#results tr:nth-child(even) {
    background-color: #dddddd;
}

td.header {
	font-weight: bold;
}

div.closed {
	display: none;
}

button.borderless {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}

.right {
	float:right;
	clear:right;
}
